<html>
<head>
  <meta charset="UTF-8">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
  <div id="app">
    <span v-if="show">YES</span>
    <span v-else="show">NO</span>
    <button type="button" onclick="app.show = !app.show">click</button>    
    <br />
    <template v-if="show">
      <h1>YES Title</h1>
      <p>yes yes yes</p>
    </template>
    <template v-else>
      <h1>NO Title</h1>
      <p>no no no</p>
    </template>
    <hr />

    <div v-if="index == 0">ZERO</div>
    <div v-else-if="index == 1">ONE</div>
    <div v-else>ELSE</div>
    <input type="text" v-model="index" />

    <hr />
    <div v-show="index == 0">SHOW ZERO</div>
  </div>
  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: { show: true, index: 0 }
    })    
   </script>
</body>    
</html>